doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Taffware - Quality Product
  meta(name='description' content='Lampu senter, tas laptop, humidifier, dll')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/core.css')
  script(src="/js/core-dist.js")
body
  header
    .container
      .header__logo
        img(src="img/taffware-logo.png")
      a.header__menu(href="#sb")
        span Sub-Brands
        i.mi.mi-18 keyboard_arrow_down
      a.header__menu(href="#ab")
        span About
      a.header__menu(href="#dl")
        span Deals
      a.header__menu(href="#sc")
        span Showcase
      a.header__menu(href="#hl")
        span Help
      a.header__menu(href="#bs")
        span Business
  .hb
    .container
      .hb__slides
        .hb__banner
          .hb__img
            img(src="img/slide-header-1.png")
          .hb__detail
            .hb__detail__title
              span.text--black.text--bold Pure Aroma
                span.text--red  Essential Fragrance Oil
            .hb__detail__desc
              span Minyak aromatherapy yang terdiri dari beberapa aroma yang dapat Anda pilih sesuai keinginan.
            .hb__detail__link
              span.text--bold Buy this product at:
              .hb__detail__link__button
                a(href="https://bit.ly/2LS9jnw" target="_blank")
                  img(src="img/svg/jaknot-button-red.svg")
                a(href="http://bit.ly/2NpxFFX" target="_blank")
                  img(src="img/svg/jakmall-button-red.svg")
                a(href="http://bit.ly/3qD9GkU" target="_blank")
                  img(src="img/svg/tokopedia-button-red.svg")
        .hb__banner
          .hb__img
            img(src="img/slide-header-2.png")
          .hb__detail
            .hb__detail__title
              span.text--red.text--bold Pompa Angin
                br
                span.text--black  Ban Sepeda
            .hb__detail__desc
              span Bentuk yang portable sehingga dapat digunakan dimanapun dalam keadaan apapun karena tidak membutuhkan tenaga listrik.
            .hb__detail__link
              span.text--bold Buy this product at:
            .hb__detail__link__button
              a(href="https://bit.ly/2LNR172" target="_blank")
                img(src="img/svg/jaknot-button-red.svg")
              a(href="http://bit.ly/2Kwxrvv" target="_blank")
                img(src="img/svg/jakmall-button-red.svg")
              a(href="https://bit.ly/39QOsJd" target="_blank")
                img(src="img/svg/tokopedia-button-red.svg")
        .hb__banner
          .hb__img
            img(src="img/slide-header-3.png")
          .hb__detail
            .hb__detail__title
              span.text--black.text--bold Portable Light
                br
                | Stand
                span.text--red  Tripod
                |  Sepeda
            .hb__detail__desc
              span Dari bahan aluminium yang ringan, kokoh dan dapat menopang beban hingga 2.5kg dan memiliki panjang 200cm dengan 3 buah section.
            .hb__detail__link
              span.text--bold Buy this product at:
            .hb__detail__link__button
              a(href="https://bit.ly/3p5SK64" target="_blank")
                img(src="img/svg/jaknot-button-red.svg")
              a(href="http://bit.ly/2Y9WM1D" target="_blank")
                img(src="img/svg/jakmall-button-red.svg")
              a(href="https://bit.ly/39Nd9GM" target="_blank")
                img(src="img/svg/tokopedia-button-red.svg")
        .hb__banner
          .hb__img
            img(src="img/slide-header-4.png")
          .hb__detail
            .hb__detail__title
              span.text--black.text--bold Intellective
                span.text--red  Pengukur Tekanan
                |  Darah
            .hb__detail__desc
              span Menghasilkan data yang akurat sehingga anda dapat mengetahui hasil test dengan percaya diri.
            .hb__detail__link
              span.text--bold Buy this product at:
            .hb__detail__link__button
              a(href="https://bit.ly/3isyPMf" target="_blank")
                img(src="img/svg/jaknot-button-red.svg")
              a(href="http://bit.ly/3p5kxDF" target="_blank")
                img(src="img/svg/jakmall-button-red.svg")
              a(href="https://bit.ly/3o1x61F" target="_blank")
                img(src="img/svg/tokopedia-button-red.svg")
      .hb__arrow
        .hb__arrow--prev
        .hb__arrow--next
  .ab#ab
    .container.container--1000
      .ab__content
        .ab__top
          .ab__left
            img(src="img/about-us-section.png", alt="about-us-section")
          .ab__right
            h2.text--bold.text--red About Us
            h3 "Making Innovation Affordable" - Taffware
            .ab__right__desc
              span Taffware merupakan merek asli Indonesia yang diluncurkan pada tahun 2012. Hadir dengan 8 sub-brand yang menawarkan sejumlah produk berkualitas dengan harga termurah.
            .ab__right__button
              a.button--red(href="") CONTACT US
        .ab__bottom
          .ab__bottom__content
            .ab__bottom__bpro
              img(src="img/best-product-icon.png", alt="best-product-icon")
              p.ab__bottom__title Best Product
              p.ab__bottom__desc Material berkualitas, sehingga nyaman & aman digunakan.
            .ab__bottom__bpri
              img(src="img/best-price-icon.png", alt="best-price-icon")
              p.ab__bottom__title Best Price
              p.ab__bottom__desc Harga produk terjangkau untuk berbagai kalangan.
            .ab__bottom__bser
              img(src="img/best-service-icon.png", alt="best-service-icon")
              p.ab__bottom__title Best Service
              p.ab__bottom__desc Tersedia di berbagai marketplace, e-commerce & offline store.
