doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Taffware - Quality Product
  meta(name='description' content='Lampu senter, tas laptop, humidifier, dll')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/core.css')
body
  header
    .container
      .header__logo
        img(src="img/taffware-logo.png")
      a.header__menu(href="#sb")
        span Sub-Brands
        i.mi.mi-18 keyboard_arrow_down
      a.header__menu(href="#ab")
        span About
      a.header__menu(href="#dl")
        span Deals
      a.header__menu(href="#sc")
        span Showcase
      a.header__menu(href="#hl")
        span Help
      a.header__menu(href="#bs")
        span Business