doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Taffware - Quality Product
  meta(name='description' content='Lampu senter, tas laptop, humidifier, dll')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/core.css')
div
  img(src='logo.png' alt='' width='400')
  br
  br
  | Coming soon
  br
  a(href='mailto:inquiry@taffware.com')
    b inquiry@taffware.com