header
  position fixed
  top 0
  left 0
  width 100%
  background white
  z-index 10
  .container
    display flex
    padding 20px 40px
    a
      color black
    .header
      &__logo
        margin-right 20px
      &__menu
        display flex
        align-items center
        padding 0 15px