arrow()
  position absolute
  cursor pointer
  top 40%
  transition 0.3s
  width 40px
  height 40px

arrowLeft()
  arrow()
  background url('/img/svg/arrow-left-black.svg') center top / cover no-repeat
  left 15px
  &:hover
    background url('/img/svg/arrow-left-active.svg') center top / cover no-repeat

arrowRight()
  arrow()
  background url('/img/svg/arrow-right-black.svg') center top / cover no-repeat
  right 15px
  &:hover
    background url('/img/svg/arrow-right-active.svg') center top / cover no-repeat
.hb
  margin-top 65px
  &__slides
    &:focus
      outline none
  &__img
    height 400px
  &__detail
    position absolute
    top 0
    width 390px
    margin 60px 0 0 80px
    &__title
      font 32px/40px $font
      margin-bottom 10px
    &__desc
      font 16px/24px $font
    &__link
      margin-top 15px
      &__button
        margin-top 5px
        a
          img
            height 35px
            width auto
          &:nth-child(2)
            margin 0 10px
          &:focus
            outline none
  &__arrow
    &--prev
      arrowLeft()
    &--next
      arrowRight()
  .slick-dots
    right 36.666%
    bottom 40px
