
@font-face
	font-family 'material'
	font-style normal
	font-weight 400
	src url('https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2')
	font-display block
