$font-h = 'Poppins', sans-serif
$font = 'Poppins', sans-serif
$font-x = 'Poppins', sans-serif

$red = #E03636
$orange = #FF5C00
$purple = #150B4F
$black = #211F25
$light-grey = #F5F5F5
$gray = #6D6E71
$gold = #C88F05
$yellow = #D0A026
